# Игнорировать кэш pytest
.pytest_cache/

# Игнорировать кэш Python
__pycache__/
.DS_Store/
*.py[cod]

# Игнорировать виртуальные окружения
venv/
env/
.venv/
.env/

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать логи и временные файлы
*.log
*.tmp
*.swp

# Игнорировать кэш других инструментов
.cache/
*.cache
data/google_sheets/form_data.json
tests/shit_tests

# Игнорировать конфиденциальные файлы
.env

# Игнорировать папку legacy
legacy/

# Игнорировать папку logs
logs/

# Игнорировать файлы .DS_Store
.DS_Store
