# Игнорировать кэш pytest
.pytest_cache/

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать виртуальные окружения
venv/
env/
.venv/
.env/

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать логи и временные файлы
*.log
*.tmp
*.swp

# Игнорировать кэш других инструментов
.cache/
*.cache

# Игнорировать конфиденциальные файлы
.env